header {
  width: 100%;
  height: var(--headerHeight);
  background-color: var(--gunmetal-1000);
  box-shadow: 0 1px 5px var(--chineseBlack-500);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(0);

  .nav-container {
    width: 100%;
    max-width: var(--containerWidth);
    height: inherit;    
    padding: 0 1.25rem 0;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-wrap {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
  }

  .brand-logo-box {
    width: 100%;
    max-width: 9.188rem;
    cursor: pointer;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  .auth-btn-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;

    .default-btn {
      &::before {
        display: none;
      }
    }
  }

  .navigation-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75rem;
    flex-grow: 1;

    .default-btn {
      &::before {
        display: none;
      }
    }
  }
}

.profile-dropdown {
  position: relative;
  
  .profile-dropdown-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .profile-img-box {
      --profile-img-aspect-ratio: 82/96;
      --profile-img-mask-image: url("../../../../../public/assets/images/mask-images/mask-profile-img.png");
      --profile-img-mask-border-image: url("../../../../../public/assets/images/mask-images/mask-profile-border-img.png");
      --profile-img-mask-repeat: no-repeat;
      --profile-img-mask-size: 100% 100%;
      width: 2.563rem;
      min-width: 2.563rem;
      background-color: var(--darkJungleGreen-1000);
      aspect-ratio: var(--profile-img-aspect-ratio);
      mask-image: var(--profile-img-mask-image);
      mask-repeat: var(--profile-img-mask-repeat);
      mask-size: var(--profile-img-mask-size);
      position: relative;

      &::before {
        content: "";
        width: 100%;
        background-color: var(--nickel-1000);
        aspect-ratio: var(--profile-img-aspect-ratio);
        mask-image: var(--profile-img-mask-border-image);
        mask-repeat: var(--profile-img-mask-repeat);
        mask-size: var(--profile-img-mask-size);
        position: absolute;
        inset: 0;
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .btn-text {
      width: fit-content;

      .profile-user-name {
        width: 4.5rem;
        color: var(--white-1000);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
      }
    }

    .arrow-icon {
      width: 0.75rem;
      min-width: 0.75rem;
      height: 0.75rem;
      fill: var(--nickel-1000);
    }
  }

  .profile-dropdown-menu {
    position: absolute;
    left: auto !important;
    right: 0;
    transform-origin: right top;
  }
}