.embla__button {
  width: 2.5rem !important;
  min-width: 2.5rem !important;
  height: 2.5rem !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem !important;

  svg {
    width: 0.875rem !important;
    height: 0.875rem !important;
  }
}